<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>{{ site.title }}</title>
		<link
			rel="icon"
			type="image/png"
			href="https://www.scsupercraft.dev/logo.png"
		/>
	</head>
	<body>
		<div style="margin-bottom: 10px; border-bottom: 1px solid black">
			<h1>Search</h1>
			<input
				type="text"
				id="search"
				placeholder="Search artifacts..."
			/>
			<noscript>Please enable scripts to start searching!</noscript>
			<ul id="results">
				<li>Start searching to get results!</li>
			</ul>
			<script src="/search.js"></script>
		</div>
		{{ content }}
	</body>
</html>
