<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>{{ site.title }}</title>
		<link
			rel="icon"
			type="image/png"
			href="https://www.scsupercraft.dev/logo.png"
		/>
	</head>
	<body>
		{{ content }}
		<h2>Links:</h2>
		<ul>
			<li>
				<a
					href="https://github.com/SCsupercraft/maven.scsupercraft.dev"
					target="_blank"
				>
					Github
				</a>
			</li>
			<li>
				<a
					href="https://www.scsupercraft.dev"
					target="_blank"
				>
					Main Site
				</a>
			</li>
		</ul>
	</body>
</html>
